
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Quality check History
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-2" >
        <a href="#/qualitycheckindex" class="btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a><br/><br/>
    </div>   
</div>
<div class="row">
    <div ng-show="QualityChecks == null" class="col-md-8 text-center top-buffer"> <i class=" fa fa-spinner fa-pulse fa-5x"></i></div>
    <div class="col-md-8" ng-show="QualityChecks != null" > 
       <ul class="pagination">
          <li ng-repeat="i in getPaginationNumber(maxpage) track by $index "><a href="" ng-click="SetPage($index)">{{$index+1}}</a></li> 
        </ul>                
        <table class="table table-bordered table-hover table-striped "datatable="" style="width:100%;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="qualitycheck in QualityChecks" ng-if="$index >= PageSize*currentpage && $index < ((PageSize*currentpage) + PageSize )">
                    <td>{{qualitycheck.Id}}</td>
                    <td>{{qualitycheck.ProductLocation.Product.Name}}</td>                              
                    <td ng-bind="qualitycheck.StartDate | date:'HH:mm dd-MM-yyyy'"></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" ng-click="SelectQualitycheck(qualitycheck)">Info</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>    
        <ul class="pagination">
          <li ng-repeat="i in getPaginationNumber(maxpage) track by $index "><a href="" ng-click="SetPage($index)">{{$index+1}}</a></li> 
        </ul>      
    </div>
    <div class="col-md-4" ng-show="selectedqualitycheck != null" >     
        <h2> Qualitycheck info</h2>
        <hr/>
        <div class="form-group row">
            <label class="col-xs-4 col-form-label">Product</label>
            <div class="col-xs-8" id="product-text">
            {{selectedqualitycheck.ProductLocation.Product.Name}}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-4 col-form-label">Warehouse</label>
            <div class="col-xs-8" id="product-text">
            {{selectedqualitycheck.ProductLocation.District.Warehouse.Name}}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-4 col-form-label">District</label>
            <div class="col-xs-8" id="product-text">
            {{selectedqualitycheck.ProductLocation.District.Name}}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-4 col-form-label">Column</label>
            <div class="col-xs-8" id="product-text">
            {{selectedqualitycheck.ProductLocation.Column}}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-4 col-form-label">Row</label>
            <div class="col-xs-8" id="product-text">
            {{selectedqualitycheck.ProductLocation.Row}}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-4 col-form-label">Start Date</label>
            <div class="col-xs-8" id="product-text" ng-bind="selectedqualitycheck.StartDate | date:'HH:mm dd-MM-yyyy'">
          
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-4 col-form-label">End Date</label>
            <div class="col-xs-8" id="product-text" ng-bind="selectedqualitycheck.EndDate | date:'HH:mm dd-MM-yyyy'">
            
            </div>
        </div>
          <div class="form-group row" ng-show="selectedqualitycheck.PictureFolderUrl != null">
            <label class="col-xs-4 col-form-label">Pictures</label>
            <img src="{{selectedqualitycheck.PictureFolderUrl}}0.png" class="col-sx-12" />
            
        </div>
    </div>          
</div>
