
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Quality check
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-2" >
        <a href="#/qualitycheckindex" class="btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-md-6" >
        <select class="form-control" id="warehouseselect" ng-model="selectedWarehouse" ng-options="item as item.Name for item in warehouses" ng-change="UpdateWarehouseDrawing()">    
        </select>
    </div>
    <div class="col-xs-12" id="qualitycheckContent" >
        <div ng-show="warehouses == null" class="col-md-8 text-center top-buffer"> <i class=" fa fa-spinner fa-pulse fa-5x"></i></div>
        <div class="col-md-8 drawWarehouse" ng-show="warehouses != null" id="warehouseSelect">
            <ul class="nav nav-tabs">
              <li class="listviewmenu"><a ng-click="setListView()">List view</a></li>
              <li class="graphicviewmenu"><a ng-click="setGraphicView()">Graphic View</a></li>
            </ul>
            <div class="drawwarehousecontent">
                <div class="listview hide">
                <br/>
                    <table class="table table-bordered table-hover table-striped" style="width:100%;">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in products">
                                <td>{{product.Id}}</td>
                                <td>{{product.Product.Name}}</td>                              
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" ng-click="SelectProduct(product)">Select</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="graphicview hide">
                    <div id="warehousecanvas" >
                        <div id="startposition" style="height:{{(100/selectedWarehouse.Height)*100}}%; width:{{(100/selectedWarehouse.Width)*100}}%;  left:{{(100/selectedWarehouse.Width)*selectedWarehouse.StartNode.X}}%; bottom:{{(100/selectedWarehouse.Height) * selectedWarehouse.StartNode.Y}}%;">
                        </div>
                       <div class="WarehouseDistrict" ng-repeat="District in selectedWarehouse.Districts" style="height:{{(100/selectedWarehouse.Height)*100}}%; width:{{((100/selectedWarehouse.Width)*100) * District.Columns}}%; left:{{(100/selectedWarehouse.Width)*District.X}}%; bottom:{{(100/selectedWarehouse.Height) * District.Y}}%; transform: rotate({{District.Orientation}}deg); transform-origin: 0% 100%; " >     <div class="warehousecolumn" style="height:100%; width:{{100/ District.Columns}}%;" ng-repeat="i in getNumber(District.Columns) track by $index">
                                <div class="productbutton" ng-click="showProductFrame(District,$index+1)" ng-show="getProductColumns(District,$index+1).length > 0">
                               </div>          
                                <span>{{$index+1}}</span>
                            </div>
                       </div>
                        <div class="graphnodes" ng-repeat="District in selectedWarehouse.Districts" >
                            <div class="startNode Node" style="height:{{(100/selectedWarehouse.Height)*25}}%; width:{{(100/selectedWarehouse.Width)*25}}%;  left:{{(100/selectedWarehouse.Width)*District.StartGraphNode.X}}%; bottom:{{(100/selectedWarehouse.Height) * District.StartGraphNode.Y}}%;">
                            </div>
                             <div class="endNode Node" style="height:{{(100/selectedWarehouse.Height)*25}}%; width:{{(100/selectedWarehouse.Width)*25}}%;  left:{{(100/selectedWarehouse.Width)*District.EndGraphNode.X}}%; bottom:{{(100/selectedWarehouse.Height) * District.EndGraphNode.Y}}%;">
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 alert alert-info" ng-show="selectedrow == null && view == 'graphic' && selectedproduct == null" >
            Select a Column
         </div>
         <div class="col-md-4 alert alert-info" ng-show="(view == 'list' && selectedproduct == null) || (view == 'graphic' && selectedproduct == null && selectedrow != null)" >
            Select a product.
         </div>
        <div class="col-md-4" id="qualitycheckGraphicProductSelect"  ng-show="view == 'graphic' && selectedrow != null" >     
            <h2> Column</h2>
            <hr/>
           <table class="table table-bordered table-hover table-striped" style="width:100%;">
                <thead>
                    <tr>                       
                        <th>Name</th>
                        <th>District</th>
                        <th>Column</th>
                        <th>Row</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="producttr" ng-repeat="productlocation in selectedrow"> 
                        <td>{{productlocation.Product.Name}}</td>                              
                        <td>{{productlocation.District}}</td>                              
                        <td>{{productlocation.Column}}</td>                              
                        <td>{{productlocation.Row}}</td>                              
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-primary" ng-click="SelectProduct(productlocation)">Select</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>                                   
                               
        </div>
        <div class="col-md-4" id="qualitycheckProductSelect"  ng-show="selectedproduct != null">
            <h2> Product</h2>
            <hr/>
            <div class="form-group row">
                <label class="col-xs-4 col-form-label">Warehouse</label>
                <div class="col-xs-8" id="product-text">
                {{selectedWarehouse.Name}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-4 col-form-label">Product</label>
                <div class="col-xs-8" id="product-text">
                {{selectedproduct.Product.Name}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-4 col-form-label">District</label>
                <div class="col-xs-8" id="district-text">
                {{selectedproduct.District}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-4 col-form-label">Column</label>
                <div class="col-xs-8" id="column-text">
                {{selectedproduct.Column}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-4 col-form-label">Row</label>
                <div class="col-xs-8" id="row-text">
                {{selectedproduct.Row}}
                </div>
            </div>
            <div class="row text-center">
                <button id="btnExecute" name="btnExecute" class="btn btn-primary" ng-click="ExecuteQualityCheck()">Execute Quality Check</button>
            </div>
            <hr/>
        </div>
    </div>
</div>
